.all-notes{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 12px;
	list-style: none;
	margin: 0 auto;
}
.all-notes li{
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(0, 0, 0, 0.1); 
	border-radius: 16px;
	padding: 12px;
	width: 350px;
	align-items: center;
	gap: 12px;
}
.all-notes input{
	padding: 4px 4px;
	border-radius: 8px;
	border: 2px solid #6b4a30;
	flex: 1;
}
.all-notes span{
	color: #1a1a1a;
	font-size: 20px;
}
.all-btn{
	margin-left: auto;
}
.edit-btn{
	color: white;
	padding: 6px 10px;
	border-radius: 6px;
	font-size: 12px;
	margin-right: 4px;
	background: black;
	border-radius: 12px;
	cursor: pointer;
	border: none;
}
.edit-btn:hover{
	opacity: 0.8;
}
.save-btn{
	color: white;
	padding: 4px 10px;
	border-radius: 6px;
	font-size: 12px;
	margin-right: 4px;
	border: 1px solid black;
	background: black;
	cursor: pointer;
}
.save-btn:hover{
	opacity: 0.8;
}
.delete-btn{
	color: white;
	padding: 4px 8px;
	border-radius: 6px;
	font-size: 12px;
	margin-right: 4px;
	border: 1px solid rgba(255, 80, 0, 0.8);
	background: red;
	cursor: pointer;
}
.delete-btn:hover{
	opacity: 0.85;
}