.all-notes{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	list-style: none;
	
	margin: 0 auto;
}
.all-notes li{
	display: flex;
	background: rgba(255,255,255,0.9);
	border-radius: 8px;
	padding: 12px;
	width: 360px;
	border-left: 4px solid #285a48;
}
.all-btn{
	margin-left: auto;
}
.edit-btn{
	color: white;
	padding: 4px;
	border-radius: 8px;
	
	margin-right: 4px;
	border: none;
	background: rgba(0, 255, 0, 0.45);
	cursor: pointer;
}
.save-btn{
	color: white;
	padding: 4px 8px;
	border-radius: 8px;
	margin-right: 4px;
	border: none;
	background: rgba(0, 255, 0, 0.45);
	cursor: pointer;
}
.delete-btn{
	color: white;
	padding: 4px 8px;
	border-radius: 8px;
	margin-right: 4px;
	border: none;
	background: rgba(255, 0, 0, 0.7);
	cursor: pointer;
}
.delete-btn:hover{
	opacity: 0.85;
}